<div class="container">
  <div class="row">
    <div class="col-6">
      <div class="cyberpunk-border">
        <h3>EVENT INFO</h3>
        <ul class="main-info">
          <li>LOCATION: BAKU SPORTS HALL</li>
          <li>DATE: 8 DECEMBER</li>
          <li>TICKET PRICE: 20-450 AZN</li>
          <li>
            <p>ABOUT</p>
            A Festival of Video Games, Cosplay, and K-pop Dance in Baku! On
            December 8, one of the most thrilling events of the winter season
            will take place at the Baku Sports Palace — Gamesummit 2024. Dive
            into the vibrant world of video games, anime, cosplay, and K-pop
            dance, where unforgettable experiences await! For one day, the
            Sports Palace will transform into a hub of geek culture, bringing
            together gamers, cosplayers, Esports enthusiasts, K-pop fans, and
            anyone looking for a good time. Enjoy live performances, savor
            delicious food, compete in exciting tournaments, and connect with
            fellow fans! Join us for this amazing adventure called Gamesummit
            2024 — an event not to be missed!
            <br />
            Hundreds of video games — Play for free <br />
            Esports tournaments — Compete and win <br />
            Cosplay performances — See amazing costumes in action <br />
            K-pop dance performances — Feel the rhythm! <br />
            Free photo sessions — Capture the moment <br />
            Anime/K-pop merchandise fair — Shop your favorite gear <br />
            Retro games — Relive the classics <br />
            Board games — Challenge your friends <br />
            Large prize pool — Exciting rewards await <br />
            Sponsorship gifts and prizes — Win cool stuff!
          </li>
        </ul>
      </div>
    </div>
    <div class="col-6">
      <div class="cyberpunk-border">
        <h3>EVENT PROGRAM</h3>
        <ul class="program">
          <li><span>Doors Open</span> <span>10:00 AM</span></li>
          <li><span>Valorant Grand Final Show</span> <span>11:00 AM</span></li>
          <li><span>Official Opening Ceremony</span> <span>01:00 PM</span></li>
          <li><span>CS2 Grand Finale</span> <span>01:30 PM</span></li>
          <li><span>Cosplay Show 1</span> <span>3:00 PM</span></li>
          <li><span>Game Trailers Presentation</span> <span>4:00 PM</span></li>
          <li><span>Mortal Kombat Grand Finale</span> <span>4:30 PM</span></li>
          <li><span>Cosplay Show 2</span> <span>5:00 PM</span></li>
          <li><span>K-Pop Performance</span> <span>6:00 PM</span></li>
          <li><span>FIFA Grand Final Show</span> <span>7:00 PM</span></li>
          <li><span>Award Ceremony</span> <span>7:30 PM</span></li>
          <li><span>After Party</span> <span>8:30 PM</span></li>
          <li><span>Event Conclusion</span> <span>11:00 PM</span></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-6"><p>VENUE</p></div>
    <div class="col-6">
      <p>EVENT MAP</p>
      <img src="assets/images/venuemap.webp" class="venuemap" alt="venuemap" />
    </div>
  </div>
</div>
