<h2 class="cybr-btn">
  REGISTRATION<span aria-hidden>_</span>
  <span aria-hidden class="cybr-btn__glitch">REGISTRATION_</span>
</h2>

<div>
  <ul class="reg-items">
    <li>
      <a
        href="https://docs.google.com/forms/d/e/1FAIpQLSdlDUx-Gh4GychqWSV82vC7zyqJy0tJlvH-6tVII9NJN7WnhQ/viewform?usp=sharing"
        target="_blank"
      >
        <img
          src="assets/images/registration/gamedev.jpg"
          alt="gamedev"
          width="200px"
        />
        <p>GAMEDEV</p></a
      >
    </li>
    <li>
      <a
        href="https://docs.google.com/forms/d/e/1FAIpQLSdqqBpClvm-6Th9Lnyegb-1GAWWGfbQdcCzYnyNpZkk3Fycqw/viewform?usp=sharing"
        target="_blank"
      >
        <img
          src="assets/images/registration/esports.jpg"
          alt="esports"
          width="200px"
        />
        <p>ESPORTS</p></a
      >
    </li>
    <li>
      <a
        href="https://docs.google.com/forms/d/e/1FAIpQLScW83b5LNUxWWWH5jpNycg1O3toQjtrD6effGm9dN7JcJmX9w/viewform?usp=sharing"
        target="_blank"
      >
        <img
          src="assets/images/registration/solocosplay.jpg"
          alt="solocosplay"
          width="200px"
        />
        <p>SOLO COSPLAY</p></a
      >
    </li>
    <li>
      <a
        href="https://docs.google.com/forms/d/e/1FAIpQLSd4VcGinwZBEL0SgUN8VBXRkopwr8LCECzPZR2Nvq0dRL_GHA/viewform?usp=sharing"
        target="_blank"
      >
        <img
          src="assets/images/registration/teamcosplay.jpg"
          alt="teamcosplay"
          width="200px"
        />
        <p>TEAM COSPLAY</p>
      </a>
    </li>
    <li>
      <a
        href="https://docs.google.com/forms/d/e/1FAIpQLSdsbyNxfqyEdKBMwFk5R9t1ma7v57iLZr1mqjHCSp2zEpOUkA/viewform?usp=sharing"
        target="_blank"
      >
        <img
          src="assets/images/registration/kpop.jpg"
          alt="kpop"
          width="200px"
        />
        <p>K-POP DANCE</p></a
      >
    </li>
    <li>
      <a
        href="https://docs.google.com/forms/d/e/1FAIpQLSfqPLCReEIhX2wpgeXLlUSXac10HwKuu89urDDiMtyQDm_rhA/viewform?usp=sharing"
        target="_blank"
      >
        <img
          src="assets/images/registration/tablesales.jpg"
          alt="tablesales"
          width="200px"
        />
        <p>TABLE SALES</p></a
      >
    </li>
    <li>
      <a
        href="https://docs.google.com/forms/d/e/1FAIpQLSd7nidk3n5Y-n3tJVGZpVQgoBXaN4tKhhxEn4IPIHH6PYcs8Q/viewform?usp=sharing"
        target="_blank"
      >
        <img
          src="assets/images/registration/media.jpg"
          alt="media"
          width="200px"
        />
        <p>MEDIA</p></a
      >
    </li>
    <li>
      <a
        href="https://docs.google.com/forms/d/e/1FAIpQLSdbi6x3PJGjvdGP1M0OCHAPIBfgNxEbNBD9jnaRO2DD3ZVmsw/viewform?usp=sharing"
        target="_blank"
      >
        <img
          src="assets/images/registration/photographers.jpg"
          alt="photographers"
          width="200px"
        />
        <p>PHOTOGRAPHERS</p></a
      >
    </li>
    <li>
      <a
        href="https://docs.google.com/forms/d/e/1FAIpQLScuKz4bm2aGVaSlUOY4RN4LL8JqPOHF_nCVzAHYCBmNY-15vw/viewform?usp=sharing"
        target="_blank"
      >
        <img
          src="assets/images/registration/hackathon.jpg"
          alt="hackathon"
          width="200px"
        />
        <p>HACKATHON</p></a
      >
    </li>
    <li>
      <a
        href="https://docs.google.com/forms/d/e/1FAIpQLScLb_IxMub8I4IDx0hF9YguqL44JvtBCJNRJZ813TaTV_EfQw/viewform?usp=sharing"
        target="_blank"
      >
        <img
          src="assets/images/registration/volunteers.jpg"
          alt="volunteers"
          width="200px"
        />
        <p>VOLUNTEES</p></a
      >
    </li>
    <li>
      <a
        href="https://docs.google.com/forms/d/e/1FAIpQLSfQY4wCpw6EI_357M7YZbqD4YeMqMVwRi-flVpTAxwbYqD46A/viewform?usp=sharing"
        target="_blank"
      >
        <img
          src="assets/images/registration/influencers.jpg"
          alt="influencers"
          width="200px"
        />
        <p>INFLUENCERS</p></a
      >
    </li>
  </ul>
</div>
