<div class="container countdown-container">
  <h2 class="countdown">
    COUNTDOWN TO <br />
    GAMESUMMIT WINTER <br />
    <a
      href="https://iticket.az/en/events/other/game-summit-2024/128866"
      target="_blank"
      ><button class="countdown-button">BUY TICKET</button></a
    >
  </h2>
  <div class="countdown">
    <div class="timer">
      <div class="timer-cell">
        <span>{{ days }}</span>
        <span>Days</span>
      </div>
      <div class="timer-cell">
        <span>{{ hours }}</span>
        <span>Hours</span>
      </div>
      <div class="timer-cell">
        <span>{{ minutes }}</span>
        <span>Minutes</span>
      </div>
      <div class="timer-cell">
        <span>{{ seconds }} </span>
        <span>Seconds</span>
      </div>
    </div>
  </div>
</div>
