<div class="videoWrapper">
  <iframe
    src="https://www.youtube.com/embed/3arN9exTaOs?si=3t5WJ7KwEBFCTo0G&amp;controls=0&showinfo=0&vq=hd1080&playlist=3arN9exTaOs&loop=1&mute=1&autoplay=1"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    referrerpolicy="strict-origin-when-cross-origin"
    allowfullscreen
  ></iframe>
</div>

<div class="main-info">
  <h1 class="overlay-text">GAMESUMMIT WINTER 2024</h1>
  <a
    href="https://iticket.az/en/events/other/game-summit-2024/128866"
    target="_blank"
    ><button class="countdown-button">BUY TICKET</button>
  </a>
</div>

<app-social-media-bar></app-social-media-bar>
