<div class="social-media-container">
  <span>SOCIAL MEDIA</span>
  <a href="https://www.instagram.com/gamesummitai/" target="_blank">
    <img src="assets/images/instagram.png" alt="instagram" width="30px"
  /></a>
  <a
    href="https://www.facebook.com/profile.php?id=100090296542013"
    target="_blank"
  >
    <img src="assets/images/facebook.png" alt="facebook" width="30px" />
  </a>
  <a href="https://www.tiktok.com/@gamesummitai" target="_blank"
    ><img src="assets/images/tik-tok.png" alt="tik-tok" width="30px"
  /></a>
  <a href="https://t.me/GameSummit" target="_blank">
    <img src="assets/images/telegram.png" alt="telegram" width="30px" />
  </a>
  <a href="https://www.linkedin.com/company/gamesummit/" target="_blank">
    <img src="assets/images/linkedin.png" alt="linkedin" width="30px" />
  </a>
</div>
